.product {
    position: relative;
    width: 280px;
    height: 420px;
    margin: auto;
    border: 0;
}

.thumb {
    position: relative;
    overflow: hidden;
}

.thumb .image {
    display: block;
    position: relative;
    transition: transform 0.3s ease-in-out;
}

.thumb .image img {
    width: 100%;
    transition: all 0.3s ease-in-out;
}

.thumb .image .hover-image {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all 0.3s ease-in-out;
    transform: translateZ(0);
}

.thumb .image:hover {
    transform: scale(1.05);
}

.thumb .image:hover .hover-image {
    opacity: 1;
    transform: translateZ(50px);
    z-index: 1;
}

.thumb .image:hover img {
    opacity: 0;
}

.badges {
    position: absolute;
    top: 10px;
    left: 0px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.actions {
    font-size: 20px;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.actions .action {
    display: inline-block;
    margin-left: 5px;
    color: #333;
    transition: color 0.3s;
}

.content .ratings {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.content .ratings .rating-wrap {
    margin-right: 5px;
}

.content .ratings .star {
    display: inline-block;
    color: #ff6347;
    margin-right: 2px;
}

.content .ratings .rating-num {
    font-size: 14px;
    color: #666;
}

.content .price .new {
    font-size: 18px;
    color: #ff6347;
}

.product .content {
    position: relative;
}

.add-to-cart {
    background-color: #5e843b;
    border: none;
    color: white;
    width: 140px;
    padding: 8px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
    position: absolute;
    bottom: -25px;
    display: none;
}

.product:hover .add-to-cart {
    display: block;
}

.add-to-cart::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 3px;
    background-color: white;
    transition: width 0.3s ease-in-out, left 0.3s ease-in-out;
}

.add-to-cart:hover::before {
    width: 100%;
    left: 0;
}

.add-to-cart:hover {
    background-color: #6f8e51;
}

.heart-icon {
    color: transparent;
    stroke-width: 2px;
    font-size: 1.5rem;
}

.hiddenIcard {
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.product:hover .hiddenIcard {
    opacity: 1;
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    gap: 12px;
}

.newprd,
.saleprd {
    background-color: black;
    color: white;
    padding: 2.5px 10px;
    font-size: 12px;
}

.newprd {
    background-color: black;
}

.saleprd {
    background-color: #5e843b;
}

.wishlistBack {
    background-color: #eaeaea;
    padding: 8px;
    border-radius: 50%;
    font-size: 17px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: black;
}

.wishlistBack:hover {
    background-color: #6f8e51;
    color: white;
    transition: 0.4s;
}
