
header {
    height: 15vh;
    width: 100%;
    background: lightgray;
    margin-bottom: 50px;
}

#product-info {
    width: 95%;
    margin: 0 auto;
}

.item-image-parent {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.item-info-parent {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.item-image-main {
    width: 100%;
}

.main-image {
    height: 500px;
    /* Set the desired height */
    object-fit: cover;
    /* Maintain aspect ratio */
}

.thumb-box-container {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.thumb-box {
    width: 75px;
    height: 75px;
    background: white;
    border: 1px solid gray;
    cursor: pointer;
}

.thumb-box img {
    width: 100%;
    height: 100%;
}

.thumb-box:hover {
    border-color: #5e843b;
    box-shadow: 0px 1px 5px 1px #5e843b;
}

/* Item Info */
.main-info h4 {
    font-size: 21px;
    margin-bottom: 0;
    font-weight: 400;
}

.star-rating {
    color: gray;
    font-size: 24px;
    border-bottom: 0.4px solid rgba(194, 194, 194, 0.829);
}

.star-rating span {
    color: gold;
}

.main-info p {
    font-size: 15px;
    color: gray;
    margin-bottom: 30px;
}

#price {
    color: rgb(168, 14, 14);
    font-size: 21px;
}

/* Select Items */
.change-color {
    margin-bottom: 10px;
}

.change-color .thumb-box {
    margin: 10px 10px 10px 0;
    width: 40px;
    display: inline-block;
}

.description ul {
    padding-left: 17px;
    font-size: 15px;
    line-height: 1.3rem;
}

/* Order Now Button */
.productDetailsbtn {
    border: 0px;
    padding: 10px 15px;
    background-color: #5e843b;
    color: white;
    border-radius: 10px;
    font-size: 12px;
    width: 130px !important;
}

.productDetailsbtn:hover {
    background-color: #4a6d2b;
}